%h1 Listing articles

%table
  %thead
    %tr
      %th 日時
      %th タイトル
      %th 下書き
      %th
      %th
      %th

  %tbody
    - @articles.each do |article|
      %tr
        %td= article.entry_at
        %td= article.title
        %td= article.is_draft
        %td= link_to 'Show', admin_article_path(article)
        %td= link_to 'Edit', edit_admin_article_path(article)
        %td= link_to 'Destroy', admin_article_path(article), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Article', new_admin_article_path
