- @articles.each_with_index do |article, index|
  %article.article
    - if index > 0
      %hr.article_separator_line
    %header
      %time.entry_date(datetime="#{article.entry_at.strftime('%Y-%m-%d %H:%M')}")
        = article.entry_at.strftime('%Y')
        .entry_day= article.entry_at.strftime('%m/%d')
        = article.entry_at.strftime('%H:%M')
      %h1= article.title
      %p= 'カテゴリ：' + (article.tags.pluck :name).join(',')
      %p= (link_to "コメント(#{article.comments.count})", admin_article_path(article))  + '/' + (link_to 'この記事のURL', admin_article_path(article))

    = article.content

    %p= (link_to "コメント(#{article.comments.count})", admin_article_path(article))  + '/' + (link_to 'この記事のURL', admin_article_path(article))
