- if @articles.present?
  %section.center
    - if @next_link.present?
      %a{ href: @next_link} << 次へ
      |
    %a{ href: articles_path } HOME
    - if @past_link.present?
      |
      %a{ href: @past_link} 前へ >>
  - @articles.each_with_index do |article, index|
    %article.article
      - if index > 0
        %hr.article_separator_line
      %header
        %time.entry_date(datetime="#{article.entry_at.strftime('%Y-%m-%d %H:%M')}")
          = article.entry_at.strftime('%Y')
          .entry_day= article.entry_at.strftime('%m/%d')
          = article.entry_at.strftime('%H:%M')
        %h1.title= article.title
        %p= 'タグ：' + (article.tags.pluck :name).join(',')
        %p= (link_to "コメント(#{article.comments.count})", article_path(article, anchor: :comments))  + '/' + (link_to 'この記事のURL', article_path(article))

      = article.content

      %p= (link_to "コメント(#{article.comments.count})", article_path(article, anchor: :comments))  + '/' + (link_to 'この記事のURL', article_path(article))

- else
  %a.center{ href: articles_path } HOME
  %p.center 条件に一致する記事がありません
