%article.article
  %header
    %time.entry_date(datetime="#{@article.entry_at.strftime('%Y-%m-%d %H:%M')}")
      = @article.entry_at.strftime('%Y')
      .entry_day= @article.entry_at.strftime('%m/%d')
      = @article.entry_at.strftime('%H:%M')
    %h1.title= @article.title
    %p= 'カテゴリ：' + (@article.tags.pluck :name).join(',')
    %p= (link_to "コメント(#{@article.comments.count})", article_path(@article, anchor: :comments))  + '/' + (link_to 'この記事のURL', article_path(@article))

  = @article.content

%p
  %b タグ:
  - unless @article.tags.empty?
    %ul
      - @article.tags.each do |tag|
        %li= tag.name

%p
  %b 権限:
  - unless @article.authorities.empty?
    %ul
      - @article.authorities.each do |authority|
        %li= authority.name

    %hr

%p
  %b Open Graph画像:
  = @article.og_image

= link_to 'Back', admin_articles_path