- if @article.present?
  %article.article
    %header
      %time.entry_date(datetime="#{@article.entry_at.strftime('%Y-%m-%d %H:%M')}")
        = @article.entry_at.strftime('%Y')
        .entry_day= @article.entry_at.strftime('%m/%d')
        = @article.entry_at.strftime('%H:%M')
      %h1.title= @article.title
      %p= 'タグ：' + (@article.tags.pluck :name).join(',')
      %p= (link_to "コメント(#{@article.comments.count})", article_path(@article, anchor: :comments))  + '/' + (link_to 'この記事のURL', article_path(@article))

    = @article.content

    %p= (link_to "コメント(#{@article.comments.count})", article_path(@article, anchor: :comments))  + '/' + (link_to 'この記事のURL', article_path(@article))

    %hr
    %section#comment
      - if user_signed_in? && @article.comments.count > 0
        %h1.title コメント

        - @article.comments.each_with_index do |comment, index|
          - if index > 0
            %hr.article_separator_line
          %p=comment.content
          %p='%s / %s' % [comment.entry_user_name, comment.created_at.strftime('%Y-%m-%d %H:%M:%S')]

        %hr

      %h1.title コメントする
      - if user_signed_in?
        = form_tag(entry_comment_article_path(@article), method: 'post')  do
          .field
            = label_tag 'comment[entry_user_name]', '名前:'
            = text_field_tag 'comment[entry_user_name]'
          .field
          = label_tag 'comment[content]', 'コメント:'
          = text_area_tag 'comment[content]'
          .actions
            = submit_tag 'コメント送信'
      - else
        %p 迷惑コメントが多いため、コメント投稿にはログインが必要です。
