%h1 Listing tags

%table
  %thead
    %tr
      %th åå‰
      %th
      %th
      %th

  %tbody
    - @tags.each do |tag|
      %tr
        %td= tag.name
        %td= link_to 'Show', admin_tag_path(tag)
        %td= link_to 'Edit', edit_admin_tag_path(tag)
        %td= link_to 'Destroy', admin_tag_path(tag), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tag', new_admin_tag_path
