%h1 Listing authorities

%table
  %thead
    %tr
      %th 権限名
      %th
      %th
      %th

  %tbody
    - @authorities.each do |authority|
      %tr
        %td= authority.name
        %td= link_to 'Show', admin_authority_path(authority)
        %td= link_to 'Edit', edit_admin_authority_path(authority)
        %td= link_to 'Destroy', admin_authority_path(authority), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Authority', new_admin_authority_path
