!!!
%html
  %head
    %meta{:charset => 'UTF-8'}/
    %title しんくれあ記
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => 'http://fonts.googleapis.com/css?family=Damion&subset=latin', :rel => 'stylesheet', :type => 'text/css'}
  %body
    %header
      = link_to image_tag('title.png', { alt: 'しんくれあ記'}), articles_path

    %main(role='main')
      %p.notice= notice
      %p.alert= alert
      %section.sidebar
        %aside
          - if user_signed_in?
            %h1 アカウント
            %strong= current_user.email
            %p
              = link_to 'プロフィール変更', edit_user_registration_path
              |
              = link_to 'ログアウト', destroy_user_session_path, method: :delete
          - else
            %h1 ログイン
            %p
              = link_to 'サインイン', new_user_registration_path
              |
              = link_to 'ログイン', new_user_session_path

        %aside
          %h1 プロフィール
          %p.name HN:しんくれあ
          %p 受託開発メインのIT企業に勤務するC#er。趣味は木工と読書です。これまでプライベートな日記がメインのブログでしたが、技術的な記事も書いていきたいと思います。

        %aside
          %h1 記事の検索

        %aside
          %h1 タグ
          - @tags.each do |tag|
            %ul.list
              %li= link_to tag.name, '/articles/tag/' + tag.id.to_s

        %aside
          %h1 最新コメント
          - @recent_comments.each do |comment|
            %ul.list
              %li= link_to comment.article.title, article_path(comment.article, anchor: :comments)

        %aside
          %h1 RSS

      %section.articles
        = yield

    %footer
      %p Copyright (C) 2013 sincrare All Rights Reserved.
